@using Utakmice.Models;
@model IEnumerable<Utakmica>
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        table, tr, th, td
        {
            border: 1px solid black;
            align-content: center;
        }
    </style>
    
</head>
<body>
    
    <table>
        <tr>
            <th colspan="5">Utakmice</th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Domacin</th>
            <th>Gost</th>
            <th>Pobednik</th>
            <th>Liga</th>
        </tr>
        @foreach (Utakmica u in Model)
        {
           <tr>
               <td>@u.Id</td>
               <td>@u.Domacin</td>
               <td>@u.Gost</td>
               <td>@u.Pobednik</td>
               <td>@u.Liga</td>
           </tr>
        }
    </table>
    <br/>
    @Html.ActionLink("Nazad","Index","Unos");
</body>
</html>
